********************************************
*                                          *
* DRILL TAPE SUMMARY REPORT                *
*                                          *
* C:\PROJECTS\ORCAD\ACTUATOR\ACTUATOR.MAX  *
* Fri Mar 16 20:17:20 2018                 *
*                                          *
********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       11       200      100                                                                                 
T2       31       8        200      100                                                                                 
T3       34       36       200      100                                                                                 
T4       36       3        200      100                                                                                 
T5       50       10       200      100                                                                                 
T6       80       1        200      100                                                                                 
