********************************************
*                                          *
* DRILL TAPE SUMMARY REPORT                *
*                                          *
* C:\PROJECTS\ORCAD\PV_BOOST\PV_BOOST.MAX  *
* Wed Jun 05 19:48:30 2019                 *
*                                          *
********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       29       200      100                                                                                 
T2       31       19       200      100                                                                                 
T3       34       16       200      100                                                                                 
T4       36       23       200      100                                                                                 
T5       38       8        200      100                                                                                 
T6       40       20       200      100                                                                                 
T7       54       9        200      100                                                                                 
T8       61       10       200      100                                                                                 
T9       80       8        200      100                                                                                 
T10      95       24       200      100                                                                                 
T11      160      2        200      100                                                                                 
