**********************************************
*                                            *
* DRILL TAPE SUMMARY REPORT                  *
*                                            *
* C:\PROJECTS\ORCAD\TERMOSTAT\TERMOSTAT.MAX  *
* Fri Mar 16 20:20:25 2018                   *
*                                            *
**********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       43       200      100                                                                                 
T2       31       12       200      100                                                                                 
T3       34       49       200      100                                                                                 
T4       38       8        200      100                                                                                 
