****************************************
*                                      *
* DRILL TAPE SUMMARY REPORT            *
*                                      *
* C:\PROJECTS\ORCAD\SWITCH\SWITCH.MAX  *
* Sat Mar 16 14:32:56 2019             *
*                                      *
****************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       14       200      100                                                                                 
T2       36       10       200      100                                                                                 
T3       38       4        200      100                                                                                 
T4       100      4        200      100                                                                                 
